body {
  margin: 0;
  font-family: serif;
}

/* Top header */
.first {
  display: flex;
  align-items: center;
  background-color: #e7e2d3;
  padding: 20px;
}
.title {
  display: flex;
  flex-direction: column;
}

.mainlogo {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.title h1 {
  margin: 0;
  font-size: 40px;
  font-family: typewriter;
}

.title h4 {
  margin: 0;
  letter-spacing: 4px;
  font-family: old-typewriter;
}

.bt1 {
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background-color: #e39a5b;
  cursor: pointer;
}

.bt1:hover {
  background-color: #b97e4b;
}

.main {
  background-color: #9ea6ad;
  text-align: center;
  padding: 80px 20px;
}

/* ESTD line */
.estd {
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.estd span {
  margin-left: 20px;
}

/* Center logo */
.center-logo {
  width: 150px;
  margin: 20px 0;
}

/* Main title */
.main-title {
  font-size: 60px;
  margin: 10px 0;
  font-weight: bold;
}

/* Subtitle */
.sub-title {
  letter-spacing: 6px;
  margin: 0;
  font-weight: normal;
}

/* Tagline */
.tagline {
  margin-top: 40px;
  font-size: 22px;
  letter-spacing: 4px;
}

/* Description */
.desc {
  margin-top: 10px;
  font-size: 16px;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e2d3;
  padding: 60px;
}

/* LEFT SIDE */
.left {
  max-width: 50%;
}

.big-text {
  font-size: 48px;
  letter-spacing: 6px;
  color: #aeb6bb;
  margin-bottom: 20px;
}

.book-desc {
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* RIGHT SIDE */
.right {
  text-align: center;
}

.book-img {
  width: 250px;
  margin-bottom: 20px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

@font-face {
  font-family: typewriter;
  src: url(./fonts/TTWPGOTT.ttf);
}
@font-face {
  font-family: old-typewriter;
  src: url(./fonts/Lumios_Typewriter_Old.otf);
}
@font-face {
  font-family: codex;
  src: url(./fonts/Codex\ LT\ Regular.ttf);
}
