@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: serif;
}


.bt1 {
  padding: 20px 45px;
  border: none;
  border-radius: 40px;
  background-color: #e39a5b;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border: #000000 solid 2px;
}

.bt1:hover {
  background-color: #b97e4b;

}

.main {
  background-color: #9ea6ad;
  text-align: center;
  padding: 80px 20px;
}

/* ESTD line */
.estd {
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.estd span {
  margin-left: 20px;
}

/* Center logo */
.center-logo {
  width: 500px;
  margin: 20px auto;   
  display: block;     
}
.insta{
  width: 50px;
}
/* Main title */
.main-title {
  font-size: 60px;
  margin: 10px 0;
  font-weight: bold;
  font-family: typewriter;
}

/* Subtitle */
.sub-title {
  letter-spacing: 6px;
  margin: 0;
  font-weight: normal;
  font-family: typewriter;
}

/* Tagline */
.tagline {
  margin-top: 40px;
  font-size: 22px;
  letter-spacing: 4px;
  font-family: old-typewriter;
}

/* Description */
.desc {
  margin-top: 10px;
  font-size: 16px;
  font-family: old-typewriter;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e2d3;
  padding: 60px;
}

/* LEFT SIDE */
.left {
  max-width: 50%;
}

.big-text {
  font-size: 56px;
  letter-spacing: 6px;
  font-style: bold;
  color: #aeb6bb;
  margin-bottom: 20px;
  font-family: codex ;
}

.book-desc {
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 20px;
}

/* RIGHT SIDE */
.right {
  text-align: center;
}

.book-img {
  width: 400px;
  margin-bottom: 20px;
  margin-right: 50px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-right: 50px;
}
.reviews {
  background-color: #e7e2d3;
  padding: 60px;
}

.review-title {
  font-size: 40px;
  letter-spacing: 6px;
  margin-bottom: 40px;
  font-family: codex;
}

.review-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
}

.review-box {
  width: 30%;
  position: relative;

  padding: 30px;
}

.quote {
  margin: 0px;
  font-size: 60px;
  color: #bfc5c9;
  
}

.review-box p {
  line-height: 1.6;
}

.review-btn {
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #0b3c3c;
  background-color: #bfc5c9;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}
.contact {
  background-color: #0b3c3c;
  color: white;
  padding: 40px;
}

.contact-title {
  font-size: 40px;
  letter-spacing: 6px;
  margin-bottom: 40px;
  font-family: typewriter;
}

.contact-info {
  line-height: 2;
}

.label {
  font-weight: bold;
  margin-top: 20px;
}

@font-face {
  font-family: typewriter;
  src: url(./fonts/TTWPGOTT.ttf);
}
@font-face {
  font-family: old-typewriter;
  src: url(./fonts/Lumios_Typewriter_Old.otf);
}
@font-face {
  font-family: codex;
  src: url(./fonts/Codex\ LT\ Regular.ttf);
}
